
    
    <footer class="footer">
  <div class="footer__top">
            <p>Create your own Meetup group.</p>
            <button class="btn__primary">Get Started</button>
        </div>


        <div class="footer__content">
            <div class="footer__category">
                <h4>Your Account</h4>
                <ul>
                    <li><a href="#">Sign up</a></li>
                    <li><a href="#">Log in</a></li>
                    <li><a href="#">Help</a></li>
                    <li><a href="#">Become an Affiliate</a></li>
                </ul>
            </div>

            <div class="footer__category">
                <h4>Discover</h4>
                <ul>
                    <li><a href="#">Groups</a></li>
                    <li><a href="#">Calendar</a></li>
                    <li><a href="#">Topics</a></li>
                    <li><a href="#">Cities</a></li>
                    <li><a href="#">Online Events</a></li>
                    <li><a href="#">Local Guides</a></li>
                    <li><a href="#">Make Friends</a></li>
                </ul>
            </div>

            <div class="footer__category">
                <h4>Meetup</h4>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="#">Meetup Pro</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Apps</a></li>
                    <li><a href="#">Podcast</a></li>
                </ul>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="footer__left">
                <h4>Follow us</h4>
                <div class="social__icons">
                    <a href="#"> <img src="images/footer/Facebook.svg" alt="Facebook"></a>
                    <a href="#"> <img src="images/footer/Twitter.svg" alt="Twitter"></a>
                    <a href="#"> <img src="images/footer/YouTube.svg" alt="YouTube"></a>
                    <a href="#"> <img src="images/footer/Instagram.svg" alt="Instagram"> </a>
                    <a href="#"><img src="images/footer/TikTok.svg" alt="TikTok"> </a>
                </div>

            </div>

            <div class="store__buttons">
                <img src="images/footer/Google__Play.jpg" alt="Google Play">
                <img src="images/footer/App__Story.jpg" alt="App Store">
            </div>
        </div>

        <div class="footer__legal">
            <p>© 2024 Meetup</p>
            <a href="#">Terms of Service</a>
            <a href="#">Privacy Policy</a>
            <a href="#">Do Not Sell or Share My Personal Data</a>
            <a href="#">Cookie Policy</a>
            <a href="#">Help</a>
        </div>
    </footer>
