
    
  <!-- HEADER -->
    <header class="navbar">
        <div class="nav__left">

            <a href="index.html">
                <img src="images/header/logo_Meetup.jpg" alt="Meetup" class="logo" />
            </a>


            <div class="search__bar">
                <input type="text" placeholder="     Search events" />
                <input type="text" value="Mountain View, CA" class="input" />
                <button class="btn__search">
                    <img src="images/header/Search_wh.svg" alt="Search-wh" />
                </button>
            </div>
        </div>

        <div class="nav__right">
            <div class="language">
                <img src="images/header/language.svg" alt="world" />
                <a href="#"> English</a>
            </div>
            <a href="#">Log in</a>
            <button class="btn__signup">Sign up</button>
        </div>

   </header>

<!-- для медиа -->

 <header class="navbar__media">
        
        <div class="nav__oben">

            <a href="index.html">
                <img src="images/header/logo_Meetup.jpg" alt="Meetup" class="logo" />
            </a>

            <div class="nav__right">
                <div class="language">
                    <img src="images/header/language.svg" alt="world" />
                    <a href="#"> English</a>
                </div>
                <a href="#">Log in</a>
                <button class="btn__signup">Sign up</button>
            </div>
        </div>

        <div class="search__bar">
            <input type="text" placeholder="     Search events" />
            <button class="btn__search">
                <img src="images/header/Search_wh.svg" alt="Search-wh" />
            </button>
        </div>
    </header>

